
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
    text-align: center;
    display: inline-block;
    align-items: center;
    position: fixed;
    left: 50px;
    right: 50px;

}


#author {
    font-style: italic;
    text-indent: 50px;
}


figcaption {
    font-style:italic;
}



